.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
}

.bg-color {
    background: rgba(17, 17, 17, 1);
}

.primary-color {
    color: rgba(255, 255, 255, 1);
}

.secondary-color {
    color: rgba(255, 255, 255, 0.5);

}

/* Nav bar style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 190px 0 190px;

}

nav li {
    list-style: none;
    display: inline;
    margin-right: 47px;
    font-size: 1.12rem;
    font-weight: 400;
}

nav ul a {
    text-decoration: none;
    color: white;
}

.line {
    width: 18px;
    border: 2px solid rgba(255, 255, 255, 1);
    margin-top: 4px;
}

.nav-lines {
    display: none;
}

nav h2 {
    font-weight: 800;
    font-style: italic;
    font-size: 2.25rem;
    color: rgba(230, 83, 60, 1);
}

.home-btn {
    background-color: rgba(230, 83, 60, 1);
    font-weight: 600;
    border-radius: 46px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 38px;
    text-align: center;
}

/* banner style */

.banner-container {
    display: flex;
    gap: 87px;
    margin-bottom: 0;
}

.banner-textbox {
    width: 520px;
    margin-left: 190px;
    margin-bottom: 76px;
    margin-right: 87px;
}

.banner-title {
    font-size: 4.87rem;
    font-weight: 900;
}

.banner-font-style {
    font-family: 'Miama', sans-serif;
    font-size: 4.8rem;
    line-height: 1px;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.coloured-btn {
    background-color: rgba(230, 83, 60, 1);
    border: none;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    font-size: 1.125rem;
    font-weight: 600;
}

.plain-btn {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 42px;
    font-size: 1.125rem;
    font-weight: 600;
    width: 224px;
    height: 54px;
}

.tutorial-btn {
    /* transform: translate(-50%, -120px); */
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    /* width: 206px;
    height: 96px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: relative;
    right: 110px;
    bottom: 160px;
    padding: 0 23px 5px 23px;
}

.round {
    background-color: rgba(230, 83, 60, 1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.content-bold {
    font-size: 1.5rem;
    font-weight: 900;

}

.tutorial-text,
.Workout-text {
    color: rgba(239, 237, 232, 0.65);

}

.workout-btn {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* max-width: 193px; */
    /* height: 98px; */
    border-radius: 12px;
    /* transform: translate(125%, -550%); */
    position: relative;
    left: 230px;
    bottom: 550px;
    padding: 0 23px;
}

.content-bolder {
    font-size: 2.5rem;
    font-weight: 900;
}


/* habit section style */

.habit-text-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -200px;
}

.habit-title {
    font-size: 3rem;
}

.habit-text {
    max-width: 671px;
}

.habit-image {
    border-radius: 50%;
}

.habit-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 198px;
}

.habit-card-subcontainer {
    align-items: center;
    text-align: center;
    margin-top: 58px;
}

.habit-card {
    max-width: 231px;
    align-items: center;
}

.card-title {
    font-size: 1.12rem;
    font-weight: 700;
}

/* run section style */

.run-sec-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    margin: 100px 190px;
    border-radius: 18px;
}

.run-sec {
    margin: 0 0px 40px 54px;
    width: 443px;
}

.run-sec-title {
    font-size: 3rem;
    font-weight: 900;
}

.run-sec button {
    margin-top: 34px;
}

.run-img {
    width: 366px;
    margin: auto 32px;
    object-fit: cover;
}

.run-img img {
    border-radius: 18px;
    width: 100%;

}

/* BMI Section style */

.BMI-Content {
    margin: 0 auto;
    width: 50%;
}

.BMI-title {
    font-size: 3rem;
}

.table-title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 900;
    margin-top: 52px;
}

table {
    border-collapse: collapse;
    margin: 52px 175px 133px 189px;
}

table td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
    color: rgba(255, 255, 255, 0.5);

}

table th {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.calculator-container {
    display: flex;
    margin-top: 88px;
    background-color: rgba(255, 255, 255, 0.1);
}

.calculator-card {
    max-width: 577px;
    margin: 38px 189px 52px 0px;
}

.calculator-card-title {
    font-size: 1.75rem;
    font-weight: 900;
}

.input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
}

.input {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    border: none;
    font-size: 16px;
    margin: 10px;
}

.input-container input:nth-of-type(5) {
    grid-column: 2 span;
}

.input-container input:last-child {
    font-weight: bold;
    margin-left: 13px;
    margin-top: 34px;
}

/* team style */

.team-content{
    margin: 88px 384px 58px 384px;
}
.team-title{
    font-size: 3rem;
    text-align: center;
}
.team-text{
    text-align: center;
}

.team-image img{
    width: 326px;
    height: 272px;
    border-radius: 18px;
    object-fit: cover;
}

.team-image{
    margin: 20px
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 190px 60px 190px;
    border-radius: 18px;
    padding: 20px;
}

.team-text-card{
    position:absolute;
    transform: translate(0, -90px);
    margin-left: 10px;
}

.team-name{
    font-size: 1.25rem;
    margin-bottom: 1px;
}

.team-position{
    margin-top: 0;
}



/* footer style */

footer{
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 70px 190px;
}

.footer-link li{
    list-style: none;
}
.footer-link ul a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.footer-link h4{
    font-size: 1.2rem;
}
.footer-link ul {
    padding: 0;
    margin: 0;
}

.footer-intro{
    max-width: 443px;
}

.footer-title{
    font-size: 4.3rem;
    font-weight: bolder;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
    margin: 0;
}

.hr-line{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    height: 2px;
    margin: 0 190px;
}

.footer-credit{
    text-align: center;
    margin: 30px auto 0 auto;
    padding-bottom: 35px;
}

/* Responsive style */

@media screen and (max-width:576px) {

    nav {
        padding: 20px;
    }

    nav ul {
        display: none;
    }

    .nav-lines {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .banner-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-textbox {
        max-width: 353px;
        margin: 0 auto;
    }

    .img-container {
        max-width: 353px;
        margin: 0 20px;
    }

    .workout-btn {
        bottom: 650px;
        left: 190px;
    }

    .tutorial-btn {
        right: 0px;
        bottom: 345px;
    }

    .img-container {
        align-items: center;
        margin: 0 auto;
    }

    .habit-card-container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .run-sec-container {
        flex-direction: column;
        margin: 20px;
        width: auto;
    }

    .run-sec {
        width: auto;
    }

    .run-img {
        width: 300px;
        margin: 30px auto;
    }

    .BMI-Content {
        margin-left: 10px;
        width: calc(100% - 10px);
    }

    .calculator-container {
        flex-direction: column;
    }
    
    .input-container input:last-child {
       display: block;
    }

    .table {
        margin: 10px;
    }

    table {
        margin: 20px 64px 20px 20px;
    }

    .table-title {
        text-align: start;
    }

    .calculator-card {
        margin: 20px;
    }
    .input-container {
        display: block;
    }
    .team-content{
        margin: 42px;
    }

    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 20px 10px 20px;
        border-radius: 18px;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .team-image{
        margin: 20px auto;
    }

    .team-image img{
        width: 313px;
        height: 272px;
        object-fit: cover;
    }
    .footer-container{
        flex-direction: column;
        padding: 0;
        margin: 20px;
    }

    .footer-intro{
        max-width: 317px;
    }
}